<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$MLFunction20180730045730</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mlfunction20180730045730.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5199dcdd-7734-42d6-8131-da26c48a99ce/resourcegroups/MLFunction/providers/Microsoft.Web/sites/MLFunction20180730045730</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://mlfunction20180730045730.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>netstandard2.0</TargetFramework>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>